{{!< default}}
<main>
  {{#post}}
  <article role="article" itemscope itemtype="http://schema.org/Article">
  {{#if tags}}
    <h5>
      {{tags separator=" / "}}
    </h5>
    {{/if}}
  <h3>{{title}}</h3>
  {{#if image}}
    <img src="{{image}}" />
  {{/if}}

  <div>
    {{content}}
  </div>

</article>
  {{/post}}
</main>
