{{!< default}}
<main role="main">

  {{#tag}}
  <article class="browsing-tag">
    <p>Browsing</p>
      <h1 class="page-title">{{name}}</h1>
  </article>

  {{/tag}}
    <!-- includes the post loop - partials/loop.hbs -->
    {{> "loop"}}
</main>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}
